<div class="indivreview">
  <% if Bar.find(review.bar_id) %>
    <ul>
      <h4> <a href="/bars/<%=Bar.find(review.bar_id).id%>"> <%= Bar.find(review.bar_id).name %></a></h4>
      <h5>Rating: <%= review.rating %>/5</h5>
      <p><%= review.comment %></p>
      <h5>Recommended? <%= review.would_recommend == true ? "Yes" : "No" %></h5>
      <br>
      <% if logged_in? %>
        <%= link_to "Edit", edit_review_path(review.id) %>
        <%= link_to "Delete", review, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </ul>
  <% end  %>
  <br>
</div>
