<div class="cluster">
  <ul>
    <a href="/bars/<%=bar.slug%>"><img class="boximg" src="<%= bar.img_url %>" alt="<%= bar.name %> image" /></a>
    <h3> <a href="/bars/<%=bar.slug%>"><%= bar.name %></a></h3>
    <h5>Located: <%= bar.address %> </h5>
    <h5>Theme: <%= bar.theme %> </h5>
    <h5>Average Rating: <%= Review.all.where(bar_id: bar.id).average(:rating).to_i != 0 ? Review.all.where(bar_id: bar.id).average(:rating).to_i : "No Ratings Yet" %> </h5>
    <br>
  </ul>
</div>
