<br>
<h2>Featured Bar</h2>

<h1><a href="/bars/<%=@bar.id%>"><%= @bar.name %></a></h1>


<a href="/bars/<%=@bar.id%>"><img class="featuredimg" src="<%= @bar.img_url %>" alt="<%= @bar.name %> image" /></a>

<h5>Located: <%= @bar.address %> </h5>
<h5>Theme: <%= @bar.theme %> </h5>
<h5>Average Rating: <%= Review.all.where(bar_id: @bar.id).average(:rating).to_i != 0 ? Review.all.where(bar_id: @bar.id).average(:rating).to_i : "No Ratings Yet" %> </h5>

<br>
