<p id="notice"><%= notice %></p>
<img class="featuredimg" src="<%= @bar.img_url %>" alt="<%= @bar.name %> image" />

<p>
  <strong>Name:</strong>
  <%= @bar.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @bar.address %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @bar.theme %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @bar.img_url %>
</p>

<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
